# Practice 1
In this section you will see how to use **numpy** and **pandas** libraries in order to make an easy exploratory analysis: summary statistics, variable manipulation and detection of outliers. In addition, you will also learn how to make a join between two datasets. You can find the guide of libraries in the following links:


*   **numpy**: [link text](https://numpy.org/)
*   **pandas**: [link text](https://pandas.pydata.org/)



1.   Import libraries **Numpy** and **Pandas**.



2.   Import the dataset using **read_csv**.



3.   Check the number of rows and columns using **.shape**



4.   Show the first five rows for both datasets.



5.   Retrieve the name of the columns for "hotel_1" and "hotel_2".



6.   Check the data types of all the columns for "hotel_1" and "hotel_2".



7.   Check the number of missing values in both datasets, using **isna()** and **sum()** together.



8.   Check the unique values and their counts for the column *arrival_date_month* of the dataset "hotel_1".



9.   Convert the data type of the column *reservation_status_date* inside "hotel_2" in *date.time*, using the function **to_datetime** of the **pandas** library.



10.   Drop the column *company* inside dataset "hotel_2" and check if the shape of the same dataset has changed effectively.



11.   Check again what columns have got missing data in both datasets.



Optional: retrieve the index of the maximum value for columns *country* and *agent* using **argmax** from **numpy**. Follow these steps:

  *   Return just the arrays of counts, using **unique** from **numpy** (da mostrare solo questo).
  *   Return the indexes of the maximum value inside the arrays of counts.
  *   Assign the indexes found in the step before to variables.


  *   Return just the arrays of counts, using **unique** from **numpy**.


  *   Return the indexes of the maximum value inside the arrays of counts, using **argmax** from **numpy**.


*   Assign the indexes found in the step before to variables.



**Optional**: retrieve the most frequent value using the indexes found before.



14.   Replace the missing values with the most common value for the columns *country*, *children* inside the dataset "hotel_1" and for the column *agent* inside the dataset "hotel_2". Use the function **SimpleImputer** from **sklearn**.



15.   Check if the imputer has worked properly: count again the number of missing values for each columns inside the two datasets.



**Optional**: check if the most common value for the columns *agent*, *children* (inside dataset "hotel_1") and for the column *country* (inside dataset "hotel_2"), has increased.



17.   Compute summary satistics of the numerical columns for dataset "hotel_1" and "hotel_2" using **describe()** method.



18.   Compute summary statistics for the numerical columns grouped by the values of the column *is_repeated_guest*, using **describe()**. In order to group the observations, use **groupby** function from **pandas**.



19.   Check if there are outliers, with respect to the column *lead_time*, using **describe()** method.



20.   Check if there are outliers, with respect to the column *lead_time*, using **boxplot** and **hist** from **pandas**.



21.   Merge the two datasets creating a new dataset called "hotel_complete" (merge them using a left join). Use the function **merge** from **pandas**.



22.   Check the shape of the new dataset "hotel_complete".



23.   Creat a new variable *amount lead time* assigning the value "low" for *lead time* <= 150, "medium" when 150 < *lead time* <= 300, "high" when *lead time* > 300. Use the function **loc** with conditions from **pandas**.



24.   Drop columns *lead time* and *ID*.