# Practice 0.
In this section you will see how to use the library **pandas** in order to compute and see basic statistics.



1.   Import **pandas** library.



2.   Import dataset "ExamScore" using **read_csv** from **pandas**.

3. Show the shape of the dataset using **shape** from **pandas**.



4.   Show the first five rows of the dataset.



5.   Get information from the dataset using **info()**.

6. Check if there are some missing values using **isna()**.

7. Retrieve the name of the columns.

8. Show the values inside the column *math score*.

9. Compute the mean and standard deviation for the column *math score*. Use **pandas** libraries.

10. Compute the min and max values for column *math score*.

11. Show only the columns with numerical values.

12. Show the values and the counts for the column *parental level of education*. Use **value_counts()** from **pandas**.

13. Compute the most frequent value inside the column *parental level of education*. Use **mode()** from **pandas**.

14. Compute the mean along the rows considering only the numerical columns.

15. Use the method **describe()** from **pandas** in order to get a short description of the column *writing score*.

16. Take the mean of the numerical variables grouping the observation according to the column *test preparation course*. Hint: use the function **groupby** from **pandas**.

17. Create pivot table for the mean and standard deviation of *math score* with indexes *test preparation course* and *parental level of education*. Use the function **pivot_table** from **pandas**.

18. Plot the histogram of the numerical variables. Use the function **hist** from **pandas**.